// 功能颜色
c-imp = #fd5353
c-success = #67C23A
c-warning = #E6A23C
c-danger = #F56C6C
c-info = #909399

// 字体颜色
c-main = #303133
c-comm = #606266
c-sub = #909399
c-pos = #c0c4cc

// 边框颜色
b-fir = #dcdfe6
b-sec = #e4e7ed
b-trd = #ebeef5
b-fou = #fdfdfc

radius-border()
  border 1px solid arguments
  border-radius 3px
